# Manual ignored files
api_access_ibantel.txt
info_gsheets.txt
/.idea/
/data/
/plots/
/anon.session
/Nutzer.session



# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
Nutzer.session-journal
*.pyc
